name: Manual Release Creator

on:
  workflow_dispatch: # Nur manueller Trigger
  
env:
  REPO1: "Atmosphere-NX/Atmosphere"
  REPO2: "CTCaer/hekate"
  REPO3: "exelix11/SysDVR"
  REPO4: "Lusamine/ldn_mitm"
  REPO5: "olliz0r/sys-botbase"
  REPO6: "mtheall/ftpd"
  REPO7: "J-D-K/JKSV"

jobs:
  create-manual-release:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.PAT }}
        
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        
    - name: Install Dependencies
      run: |
        pip install requests PyGithub python-dotenv
        
    - name: Get latest versions and create release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        python scripts/manual_release.py
        
    - name: Commit version tracking file
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add last_versions.json
        git commit -m "Update version tracking file (manual release)" || exit 0
        git push 